.grid-30-70 {
	display: grid;
	grid-template-columns: min-content 1fr;
	place-content: center;
	gap: 3rem;
}

.grid-product-layout {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
	row-gap: 2rem;
	margin: 1rem 1rem;
}

.grid-product-layout .img-container img {
	height: 12rem;
	width: 100%;
	object-fit: contain;
	cursor: pointer;
}

.grid-product-layout .card {
	width: 15rem;

	justify-self: center;
	height: min-content;
}
.grid-product-layout .card .black-bg {
	height: 2rem;
	width: 2rem;
	color: var(--secondary-color);
}

.grid-product-layout .card .card-subtitle {
	width: 13rem;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.gap-xs {
	gap: 0.5rem;
}

.productListing-space-between{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	
}

@media (max-width: 1024px) {
	.grid-30-70 {
		display: grid;
		grid-template-columns: 1fr;
	}
}
