.grid-30-70 {
	display: grid;
	grid-template-columns: min-content 1fr;
	place-content: center;
}
.grid-product-layout {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
	row-gap: 2rem;
	margin: 1rem 1rem;
}

.grid-product-layout .img-container img {
	height: 12rem;
	width: 100%;
	object-fit: contain;
}

.grid-product-layout .card {
	width: 15rem;
	cursor: pointer;
	justify-self: center;
}

.grid-product-layout .card .card-subtitle {
	width: 14rem;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.gap-xs {
	gap: 0.5rem;
}

@media (max-width: 1024px) {
	.grid-30-70 {
		display: grid;
		grid-template-columns: 1fr;
	}
}
