.profile-link {
	border-bottom: 1px solid var(--ternary-dark);
}

.profile-container {
	display: flex;
	border: 1px solid var(--ternary-dark);
	margin: 0 3rem;
	max-width:30rem;
	flex-direction: column;
}

.profile-nav {
	display: flex;
	border-bottom: 1px  var(--ternary-dark);


}

.profile-details {
	min-width: 15rem;
}
