.search-bar {
	width: 30%;
	display: flex;

	padding-left: 1rem;
	height: 2.5rem;
	border-radius: 100px;
}
.search-bar input {
	width: 100%;
	outline: none;
	border: none;
	background-color: inherit;
	color: var(--secondary-color);
}

.icon-search {
	height: 90%;

	background-color: none;
}

.search-bar button {
	border: none;
	background-color: transparent;
}

.nav-bar-links .flex-column {
	align-items: center;
	justify-content: center;
}

@media (max-width: 1024px) {
	.search-bar {
		position: absolute;
		top: 6rem;
		left: 1rem;
		width: 90%;
	}
	.nav-bar {
		padding: 0rem 2rem;
	}
}

@media (max-width: 992px) {
	.nav-bar-primary {
		display: flex;
	}

	.nav-bar-secondary {
		display: none;
	}
}

@media (max-width: 600px) {
	.nav-bar-links {
		display: none;
	}
}
