.card-horizontal {
	max-width: 100%;
	border: 1px solid var(--ternary-dark);
	margin-bottom: 1rem;
}

.card-horizontal .img-container {
	height: 10rem;
}

.card-horizontal img {
	object-fit: contain;
}



.quantity {
	display: flex;
	gap: 1rem;
}

.flex-start {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
